.cardContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  align-content: space-around;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    align-content: space-around;
  }
}
